venv
.env


# ignore all subfolders of Dataset/data
Dataset/data/*
Dataset/data/segments_with_descriptions.jsonl

# keep Dataset/data/mp4 directory and contents
!Dataset/data/mp4
!Dataset/data/mp4/*.mp4

# keep Dataset/data/broken_links.txt
!Dataset/data/broken_links.txt

# keep segments files
!Dataset/data/*.json
!Dataset/data/*.jsonl

# ignore all jupyter notebooks outside of the scripts directory
**.ipynb
!scripts/*.ipynb

.conda

# ignore pycache anywhere in the repo
**/*.pyc
Dataset/__pycache__/DALIDataset.cpython-312.pyc
Dataset/__pycache__/DALIDataset.cpython-312.pyc
Dataset/utils/__pycache__/audio_utils.cpython-312.pyc
Dataset/__pycache__/DALIDataset.cpython-312.pyc
Dataset/utils/__pycache__/audio_utils.cpython-312.pyc
